#coordonnées
    display: flex
    justify-content: start
    flex-direction: column
    row-gap: 30px
    margin-bottom: 70px

.coordonnee
    display: flex
    flex-direction: row
    width: 30%
    margin-left: 100px

.coordonnee h2
    font-size: 34px
    color: #65D3FF

.coordonnee p
    font-size: 24px
    color: white

.coordonnee h2, .coordonnee p
    margin: 0

.coordonneetxt
    margin-left: 40px

.coordonneeIcon
    font-size: 40px
    width: 40px
    display: flex
    justify-content: center
    margin-bottom: auto
    margin-top: auto
    border: solid 1px
    padding: 20px
    border-radius: 50%
    background-color: white

.coordonneetxt a 
    text-decoration: none
    color: red

.coordonneetxt a:hover 
    color: white