#intro
    display: flex
    flex-direction: column
    margin-left: 150px
    margin-right: 150px
    color: white
    
#intro h1 
    text-align: center
    font-size: 40px
    margin-bottom: 0
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1)

#intro1, #intro2
    font-size: 18px
    text-align: justify
    margin-bottom: 0
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1)
    font-weight: 700

@media screen and (max-width: 1250px)
    #intro1, #intro2
        font-size: 14px

@media screen and (max-width: 950px)
    #intro
        margin-left: 50px
        margin-right: 50px

@media screen and (max-width: 540px)
    #intro h1 
        font-size: 30px

    #intro
        margin-left: 20px
        margin-right: 20px

@media screen and (max-width: 350px)
    #intro1, #intro2
        font-size: 10px