.text-large
    font-weight: 800
    text-align: center

    
#presentationBlock
    margin-top: 100px
    color: white

#name
    font-size: 50px
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1)
    @extend .text-large

#poste
    font-size: 70px
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1)
    @extend .text-large

.arrow-light
    margin-left: 90%
    position: absolute
    top: 680px
    font-size: 66px
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1)
    cursor: pointer
    color: white
    transition-property: transform
    transition-duration: 800ms
    
.arrow-light:hover
    transform: scale(1.40)
    color: #65D3FF

@media screen and (max-width: 680px)
    #name
        font-size: 40px

    #poste
        font-size: 50px

@media screen and (max-width: 510px)
    #name
        font-size: 30px

    #poste
        font-size: 40px

@media screen and (max-width: 460px)
    #presentationBlock
        margin-top: 20px

    .arrow-light
        text-align: center
