#colorSkills
    height: 100vh
    width: 100vw

#skillBlock
    display: flex
    flex-direction: row
    justify-content: center

#skillsBlock h1 
    color: white
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1)
    margin-bottom: 0

#competences
    color: white
    text-align: center
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1)

#skills
    display: flex
    justify-content: space-between
    column-gap: 80px
    margin-top: 10px

.skill
    display: flex
    flex-direction: column
    text-align: center
    height: 230px


.skill img
    width: 180px
    display: flex
    margin-top: auto
    margin-bottom: auto

.skill p 
    color: white
    text-align: center
    margin: 0
    font-size: 16px
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1)

.arrow-light2
    position: absolute
    top: 1450px
    display: flex
    margin-left: 50%
    margin-right: 50%
    font-size: 66px
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1)
    cursor: pointer
    color: white
    transition-property: transform
    transition-duration: 800ms

.arrow-light2:hover
    transform: scale(1.40)
    color: #65D3FF



