#worksBlock
    display: grid
    grid-template-columns: 25% 25% 25%
    column-gap: 60px
    margin-top: 60px
    justify-content: center

#titreProjets
    margin-top: 0
    text-align: center
    padding-top: 40px

.titreProjet
    color: black
    font-size: 18px
    margin-top: 0

.Block1
    text-decoration: none
    display: inline-block
    height: 80px

.Block1 img
    height: 60%
    width: 60%

.Block2 ul
    padding-left: 0
