html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.backgroundImage {
  background-image: url('components/images/fondecran2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: 0;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#colorSkills {
  background-image: url('components/images/fondecran4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#worksPage{
  background-image: url('components/images/fondecran3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}




  