html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif
}

.backgroundImage {
  background-image: url('components/images/fondecran2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: 0;
  position: relative;
}

#overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#colorSkills {
  background-image: url('components/images/fondecran4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#worksPage{
  background-image: url('components/images/fondecran3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

#Contact{
  height: 100vh;
  background-color: #000571;
}

#contactTitle{
  text-align: center;
  font-size: 50px;
  margin-top: 60px;
  color: white;
}

#worksPage, #Contact {
  display: flex;
  flex-direction: column;
}

#contact2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}


.fa-chevron-up{
  color: white;
  font-size: 56px;
  display: flex;
  justify-content: center;
  transition-property: transform;
  transition-duration: 300ms;
  text-decoration: none;
}

.fa-chevron-up:hover{
  color: #65D3FF;
  transform: scale(1.30)
}

#worksPage a, #Contact a{
  text-decoration: none;
}




  